---
Language: Cpp
# BasedOnStyle:  Google
AlignConsecutiveMacros: true
SpaceBeforeParens: ControlStatements
AlignEscapedNewlinesLeft: true
# indentation
IndentWidth: 4
ContinuationIndentWidth: 4
# comments
ReflowComments:  false
AlignTrailingComments: true
# 8. case statement within switch statement must be indented by one level
AllowShortCaseLabelsOnASingleLine: false
IndentCaseLabels: true
# 34 . Tabs --> 4 spaces
TabWidth: 4
# 36. All if/else blocks must have open and close braces, even if there is only one statement in them.
# 37. { for a code block should be on the next line.
# 38. Else and else if statements should be on a new line.
BreakBeforeBraces: 'Custom'
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  AfterCaseLabel: true

# rule 40
PointerAlignment: Left
# 41. Function prototype:
# 42. Function arguments should be properly aligned.
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BinPackArguments: false
BinPackParameters: false
IndentWrappedFunctionNames: false
# 46. Lines should be 100 +/- few character char wide
ColumnLimit: 120
...
